$navbar-height: 92px;

html, body {
  color: $dark-font-color;
  background-color: $dark-color;
}

* {
  font-family: $font-family;
}

header {
  box-shadow: 0 10px 20px $shadow-color;

  nav#topnav {
    background-color: $dark-color;
    height: auto;
    overflow: hidden;
    visibility: visible;
    @include animate(height, 0.5s);

    a {
      font-size: 1.3rem;
      line-height: 3em;
      color: $light-color;
      display: inline-block;

      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }

    .social-icons {
      a {
        padding: 0 1em;
        border-left: 1px solid $navbar-translucent-light-color;

        &:last-child {
          border-right: 1px solid $navbar-translucent-light-color;
        }
      }
    }
  }

  nav.navbar {
    background-color: $light-color;
    border-radius: 0;
    border-bottom: none;
    margin-bottom: 0;
    border-color: transparent;
    @include animate(all, 0.5s);

    a.navbar-brand img {
      height: 25px;
      display: inline-block;
    }

    a.navbar-brand, .navbar-nav > li > a {
      color: $dark-color;
      @include animate(color);

      &.apply {
        border: 1px solid $light-color;
        border-radius: 4px;
        color: $light-color;
        padding: 5px 10px;
        margin: 10px 5px;
        background-color: $primary-color;
        @include animate(background-color);
      }

      &:hover {
        color: mix($dark-color, $light-color, 70%);

        &.apply {
          color: $light-color;
          background-color: mix($primary-color, $light-color, 80%);
        }
      }
    }
  }

  .alert {
    margin-bottom: 0;
    text-align: center;
    border-radius: 0;
  }
}

#main-content {
  .container, .container-fluid {
    // This is required as the navbar is fixed-top
    margin-top: $navbar-height;
    background-color: $light-color;
    min-height: 100vh;
    padding-bottom: 3rem;
  }
}

footer {
  background-color: $dark-color;
  color: $light-color;
  text-align: center;
  font-size: 0.9em;
  padding: 1em 0;

  nav {
    a {
      color: $light-color;
      margin: 0 1em;
      @include animate(color);

      &:hover {
        color: $primary-color;
        text-decoration: none;
      }
    }
  }

  p {
    margin: 1.5em 0 1em;
  }
}

.slide {
  height: 100vh;
}

.vcenter {
  border: 1px solid transparent;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

// This is required to make sure that in-page navigation doesn't place the content under the fixed navbar.
// Ref: https://github.com/twbs/bootstrap/issues/1768
.anchorable::before {
  display: block;
  content: " ";
  margin-top: -($navbar-height + 25px);
  height: $navbar-height + 25px; 
  visibility: hidden;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-weight: $very-thin-font-weight;
  }
}

h1 {
  font-size: 6rem;
  color: $dark-color;
}

h2 {
  font-size: 4rem;
  color: $primary-color;
}

h3 {
  font-size: 3rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5em;
}

b, strong {
  font-weight: $bold-font-weight;
}

.btn {
  &.btn-outline {
    &, &:hover {
      color: $dark-color;
      border: 1px solid $dark-color;
      background-color: transparent;
      @include animate(background-color, 0.3s);
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &.btn-outline-inverse {
      color: $light-color;
      border-color: $light-color;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
