#home-page {
  header {
    nav.navbar {
      @include animate(background-color, 0.5s);

      &.affix-top {
        background-color: rgba(0, 0, 0, 0.5);

        a.navbar-brand, .navbar-nav > li > a {
          color: $light-color;

          &:hover {
            color: darken($light-color, 20%);

            &.apply {
              color: $dark-color;
            }
          }
        }
      }

      &.affix {
        background-color: $primary-color;
      }
    }
  }
}

#home {
  #land {
    border: 1px solid transparent;
    background-image: url('../images/highway.jpg');
    background-size: cover;
    background-position: bottom center;
    margin-top: -$navbar-height;
    color: $light-color;

    h1 {
      font-size: 14vmin;
      color: $light-color;
    }

    h2 {
      font-size: 7vmin;
      color: $light-color;
    }

    a.apply {
      font-size: 7vmin;
      display: block;
      font-weight: $thin-font-weight;
      margin: 10vmin auto 0;
      color: $light-color;
      background-color: rgba(0,0,0,0.3);
      border: 1px solid $light-color;
      width: 55vmin;
      border-radius: 4px;
      @include animate(background-color);

      &:hover {
        text-decoration: none;
        background-color: rgba(0,0,0,0.1)
      }
    }
  }

  #about {
    background-image: url('../images/adventure.jpg');
    background-size: cover;
    background-attachment: fixed;

    .vcenter {
      background-color: rgba(0,0,0,0.6);
      padding: 8vh 0;

      p {
        color: $light-color;
        font-weight: $thin-font-weight;
        text-align: right;
        font-size: 5vmin;
        width: 80vw;
        margin: 0 auto;
      }
    }
  }

  #summary {
    padding: 10vh 0;
    text-align: center;

    img {
      height: 200px;
    }

    h2 {
      font-size: 4vw;
    }

    p.tagline {
      font-weight: $bold-font-weight;
      font-size: 1.5em;
      margin: 2em 0;
    }
  }

  .action-buttons {
    padding: 10vh 0 5vh;

    a {
      background-color: $primary-color;
      color: $light-color;
      width: 10em;
      @include animate(background-color);

      &:hover {
        background-color: $lighter-primary-color;
      }

      &.learn-more {
        background-color: $dark-color;
        margin-right: 1em;

        &:hover {
          background-color: $lighter-dark-color;
        }
      }
    }
  }
}
