#home-page {
  header {
    &.affix-top {
      box-shadow: none;

      nav#topnav {
        height: 0px;
        visibility: hidden;
      }

      nav.navbar {
        background-color: $navbar-translucent-bg-color;

        a.navbar-brand, .navbar-nav > li > a {
          color: $light-color;

          &:hover {
            color: $darker-light-color;

            &.apply {
              color: $light-color;
            }
          }
        }
      }
    }
  }
}

#home {
  #land {
    border: 1px solid transparent;
    background-image: url('../images/highway.jpg');
    background-size: cover;
    background-position: bottom center;
    color: $light-color;

    h1 {
      font-size: 14vmin;
      color: $light-color;
    }

    h2 {
      font-size: 7vmin;
      color: $light-color;
    }

    a.apply {
      font-size: 7vmin;
      display: block;
      font-weight: $thin-font-weight;
      margin: 10vmin auto 0;
      color: $light-color;
      background-color: rgba(0,0,0,0.3);
      border: 1px solid $light-color;
      width: 55vmin;
      border-radius: 4px;
      @include animate(background-color);

      &:hover {
        text-decoration: none;
        background-color: rgba(0,0,0,0.1)
      }
    }
  }

  #about {
    background-image: url('../images/about-bg.jpg');
    background-size: cover;
    background-attachment: fixed;

    .vcenter {
      text-align: left;

      h2 {
        width: 50%;
        text-transform: uppercase;
        color: $dark-color;
      }

      p {
        width: 50%;
        color: $dark-color;
        font-weight: $thin-font-weight;
        font-size: 1.5em;
      }

      a {
        color: $light-color;
        background-color: $dark-color;
      }
    }
  }

  #summary {
    background-color: #DEEBF3;
    padding: 10vh 0;
    text-align: center;

    img {
      height: 200px;
    }

    h2 {
      font-size: 3em;
      text-transform: uppercase;
      color: $dark-color;
    }

    h3 {
      text-transform: uppercase;
      font-size: 1.5em;
      height: 3em;
    }

    .separator {
      width: 15px;
      height: 15px;
      margin: 0 auto 2em;
      transform: rotate(45deg);
    }

    .computational-skills {
      .separator {
        background-color: #EB5244;
      }
    }

    .software-development {
      .separator {
        background-color: #073552;
      }
    }

    .secure-job {
      .separator {
        background-color: #FBAD28;
      }
    }

    .better-person {
      .separator {
        background-color: #99C6D1;
      }
    }

    p {
      &.tagline {
        margin: 1em 0 3em;
      }
    }

  }

  .action-buttons {
    padding: 10vh 0 5vh;

    a {
      background-color: $primary-color;
      color: $light-color;
      width: 10em;
      @include animate(background-color);

      &:hover {
        background-color: $lighter-primary-color;
      }

      &.learn-more {
        background-color: $dark-color;
        margin-right: 1em;

        &:hover {
          background-color: $lighter-dark-color;
        }
      }
    }
  }
}
