---
layout: default
---
<section id="program">
  <div class="container">
    <div class="row row-eq-height">
      <div id="program-content" class="col-md-9 col-md-push-3">
        {{ content }}
      </div>
      <div id="sidebar" class="col-md-3 col-md-pull-9">
        <a href="{{site.baseurl}}/program/" class="main-link active">Overview</a>
        <a href="" class="sub-link">Intro</a>
        <a href="" class="sub-link">Whom we take</a>
        <a href="" class="sub-link">How we learn</a>
        <a href="{{site.baseurl}}/program/daily-life/" class="main-link">Daily Life</a>
        <a href="" class="sub-link">Intro</a>
        <a href="{{site.baseurl}}/program/curriculum/" class="main-link">Curriculum</a>
        <a href="" class="sub-link">Computational Concepts</a>
        <a href="" class="sub-link">Software Product Development</a>
        <a href="" class="sub-link">Value Added Services</a>
        <a href="{{site.baseurl}}/program/facilities/" class="main-link">Facilities</a>
        <a href="{{site.baseurl}}/program/first-job/" class="main-link">Your First Job</a>
        <a href="" class="sub-link">What job would I get?</a>
        <a href="" class="sub-link">Who hires me?</a>
        <a href="" class="sub-link">Salary?</a>
        <a href="{{site.baseurl}}/program/admissions/" class="main-link">Admissions</a>
        <a href="" class="sub-link">Intro</a>
        <a href="" class="sub-link">The Process</a>
        <a href="{{site.baseurl}}/program/tuition/" class="main-link">Tuition</a>
        <a href="" class="sub-link">Intro</a>
        <a href="" class="sub-link">Loan Option</a>
      </div>
    </div>
  </div>
</section>
