---
layout: default
---
<section id="program">
  <div class="container">
    <div class="row">
      <div id="program-content" class="col-md-9 col-md-push-3">
        {{ content }}
      </div>
      <div id="sidebar" class="col-md-3 col-md-pull-9">
        <nav>
          <ul class="nav">
            <li>
              <a href="{{site.baseurl}}/program/" class="main-link active">Overview</a>
              <ul class="nav">
                <li><a href="#overview-intro" class="sub-link">Intro</a></li>
                <li><a href="#overview-whom-we-take" class="sub-link">Whom we take</a></li>
                <li><a href="#overview-how-we-learn" class="sub-link">How we learn</a></li>
              </ul>
            </li>
            <li>
              <a href="{{site.baseurl}}/program/daily-life/" class="main-link">Daily Life</a>
              <ul class="nav">
                <li><a href="#daily-life-intro" class="sub-link">Intro</a></li>
              </ul>
            </li>
            <li>
              <a href="{{site.baseurl}}/program/curriculum/" class="main-link">Curriculum</a>
              <ul class="nav">
                <li><a href="#curriculum-computational-concepts" class="sub-link">Computational Concepts</a></li>
                <li><a href="#curriculum-software-product-development" class="sub-link">Software Product Development</a></li>
                <li><a href="#curriculum-more" class="sub-link">More...</a></li>
              </ul>
            </li>
            <li>
              <a href="{{site.baseurl}}/program/facilities/" class="main-link">Facilities</a>
            </li>
            <li>
              <a href="{{site.baseurl}}/program/first-job/" class="main-link">Your First Job</a>
              <ul class="nav">
                <li><a href="#first-job-what" class="sub-link">What job would I get?</a></li>
                <li><a href="#first-job-who" class="sub-link">Who hires me?</a></li>
                <li><a href="#first-job-salary" class="sub-link">Salary?</a></li>
              </ul>
            </li>
            <li>
              <a href="{{site.baseurl}}/program/admissions/" class="main-link">Admissions</a>
              <ul class="nav">
                <li><a href="#admissions-intro" class="sub-link">Intro</a></li>
                <li><a href="#admissions-process" class="sub-link">The Process</a></li>
              </ul>
            </li>
            <li>
              <a href="{{site.baseurl}}/program/tuition/" class="main-link">Tuition</a>
              <ul class="nav">
                <li><a href="#tuition-intro" class="sub-link">Intro</a></li>
                <li><a href="#tuition-loan" class="sub-link">Loan Option</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
